@model Instadvert.CZ.Data.ViewModels.FilterVM
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager




<section class="p-4 pb-5">
    <h1 class="clr-clssc mb-5 pb-2">Our Companies</h1>
    <div class="d-xl-flex">
        <div class="sidebar p-3 pt-md-3 pt-0">
            <form asp-controller="Account" asp-action="BloggerList" method="post" class="pt-0">
                <!-- Heading for Filters -->
                <h2 class="clr-clssc mb-5">Filters</h2>

                <!-- Search by Name Section -->
                <div class="p-xl-0 p-3 py-md-3 py-0">
                    <label for="searchName" class="h8 mt-2 mb-xl-4">Search by Name</label>
                    <input id="searchName" class="form-control filter-inp mb-3 mt-2" type="text" name="searchString" placeholder="Name">
                </div>

                <!-- Search by Followers Section -->
                <div class="p-xl-0 p-3 py-md-3 py-0">
                    <label for="searchFollowers" class="h8 mt-2 mb-xl-4">Search by Followers</label>
                    <div class="d-flex d-xl-block">
                        <input id="searchFollowersTop" class="form-control filter-inp mb-3 mt-2 me-3 me-xl-0" type="text" name="searchStringTop" placeholder="Top border">
                        <input id="searchFollowersBottom" class="form-control filter-inp mb-3 mt-2" type="text" name="searchStringBottom" placeholder="Bottom">
                    </div>
                </div>

                <!-- Categories Section -->
                <div class="p-xl-0 p-xl-3 pt-0 d-xl-block d-flex justify-content-center align-items-center">
                    <div class="p-3">
                        <label class="h8 mt-xl-4 ms-xl-0 ms-4 mb-xl-4">Categories</label>
                        <div class="checkbox mb-xl-3 d-xl-block row">
                            @foreach (var option in Model.CategoryList)
                            {
                                <div class="col-6 col-sm-4 col-md-6 col-lg-4 col-xl-12 mb-xl-3">
                                    <div class="form-check">
                                        <input asp-for="@option.IsChecked" type="checkbox" value="@option.CategoryId" name="SelectedCategories" id="category-@option.CategoryId" checked="@option.IsChecked" class="form-check-input" />
                                        <label class="form-check-label cat-item" for="category-@option.CategoryId">
                                            @option.Name
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Admin Action Section -->
                @if (User.IsInRole("Admin"))
                {
                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                }

                <!-- Submit Button -->
                <input class="btn-abt-us px-3 py-2 my-xl-5 my-2" type="submit" value="Search">
            </form>
        </div>

        <div class="mt-4 flex-fill px-3">
            @foreach (var item in Model.compUsers)
            {
                var companyUser = item as CompanyUser;
                var id = UserManager.GetUserId(User);
                if ((User.IsInRole("Admin") && companyUser.AccountDeactivated == true) || (item.Id != id && item.AccountDeactivated == false))
                {
                    <a class="me-2 nav-link-color" asp-action="Details" asp-route-id="@item.Id">
                        <div id="blg-card" class="d-flex p-xl-3 p-2 shadow rounded-3">
                            <div class="bg-custom-gray list-profile-picture h-10 align-content-center my-auto">
                                <img class="chat-pf" src="~/Images/front-dev/download.png" />
                            </div>
                            <div class="">
                                <div style="color:black;" class="d-flex">
                                    <div class="ms-2 ps-4 pt-2">
                                        <h4 class="m-0">@Html.DisplayFor(modelItem => item.Name)</h4>
                                    </div>
                                </div>
                                <div class="ms-2 ps-4">
                                    @foreach (var category in item.Categories)
                                    {
                                        <h8 class="clr-clssc me-3 font-2">@category.Name</h8>
                                    }
                                </div>
                                <div class="ms-2 ps-4 mt-xl-2">
                                    <h8 class="font-2 text-container secondary-color">Description: @item.Description</h8>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>


</section>